@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body{
  background: linear-gradient(to top, rgb(0, 218, 131) 0%, rgba(48,0,255,1) 100%);
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contenedor{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.control{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  color: white;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.313);
  border-radius: 25px;
  padding: 16px 16px;
}

.info{
  display: flex;
  width: auto;
  flex-direction: row;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}

.info p{
  width: clamp(130px, 10vw, 130px);
  display: flex;
  justify-content: center;
  align-items: end;
}

.info #movimientos{
  width: 10px;
}

.control button{
  background-color: rgba(255, 255, 255, 0.244);
  border: 0;
  border-radius: 15px;
  height: 100%;
  width: 160px;
  line-height: 1.2;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 16px);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in-out;
}

.control p{
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  font-size: clamp(15px, 2vw, 17px);
}

.control button:hover{
  background-color: rgba(255, 255, 255, 0.326);
}

.titulogin{
  color: black;
}

.letralogin{
  color: black;
}
.juego{
  
  background-color: rgba(255, 255, 255, 0.313);
  border-radius: 25px;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%);
  align-content: center;
  align-items: center;
  padding: 10px;
  
}

.reiniciar:hover{
  background-color: rgba(255, 255, 255, 0.326);
}

.check{
  visibility: hidden;
  position: absolute;
}

.check:checked + .label{
  background-color: rgba(255, 255, 255, 0.521);
  transform: rotateY(180deg);
  color: rgba(255, 255, 255);
}

.label{
  background-color: rgba(255, 255, 255, 0.521);
  color: white;
  width: 90%;
  height: 90%;
  user-select: none;
  transition: 0.40s;
  backface-visibility:visible;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.182);
  color: rgba(255, 255, 255, 0);
  font-size: clamp(46px, 5vw, 80px);
  margin-bottom: 0;
}
.carta{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

/* ========================= Alerta ============================ */

.alerta{
  background-color: white;
  width: 90%;
  max-width: 350px;
  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  
  z-index: -9999; 
  
  padding: 50px;
  border-radius: 20px;
  
  opacity: 0;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  opacity: 0;
  
  transform: translate(-50%, -50%) scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.29);
}

.alerta .felicidades{
  color: green;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  
}

.alerta img{
  width: 100px;
  
}

.alerta button{
  border: none;
  border-radius: 10px;
  background-color: rgb(56, 170, 211);
  color: white;
  padding: 8px 20px 9px 20px;
  font-weight: 700;
  
}

.mostrarAlerta{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 9999; 
  
}

.countMovimientos{
  display: flex;
  gap: 8px;
  font-weight: 600;
  
} 
